.new-tweet {
  display: none;
  background-color: white;
  border-radius: 7px;
  margin-left: 2em;
  margin-right: 2em;
  height: 155px;
  border: 1px solid #bfb6b6;
}

.new-tweet textarea {
  display: block;
  width: 95%;
  padding:5px 0px 0px 5px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  left:10px;
}
.new-tweet h2 {
  margin: 5px 10px 22px 10px;
  padding:12px 0px 0px 0px;
  border-bottom: 1px solid black;
}

.new-tweet input {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
  border:none;
  background-color:#ccefff;
}

.new-tweet .counter {
  float: right;
  margin-right: 14px;
  margin-top: 10px;
  font-size:13px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style:italic;
}
.over-limit {
  color:red;
}